@use 'variables' as *;

.body__wrapper,
.header__container,
.footer__container,
.covid__container {
  background-color: rgba(159, 235, 174, 0.8);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-medium;
}

.header__brand {
  display: block; /* Ensures the link behaves like a block element */
  margin: 0 auto; /* Centers the logo horizontally */
  text-align: center; /* Centers inline content inside the link */

  .header__logo {
    width: 50%; /* 50% width for larger screens */
    max-width: 100%; /* Prevents the logo from exceeding its container width */
    display: block; /* Ensures proper alignment */
    margin: 0 auto; /* Centers the image */

    @media (max-width: 480px) {
      width: 100%; /* 100% width for smaller screens */
    }
  }
}

.navbar-nav {
  justify-content: space-between;
  width: 95%;
  font-size: 1.5rem;
}

.header__socialmedia a,
.footer__container a,
span {
  color: $primary-color;
}

.header__socialmedia {
  position: absolute; /* Position it absolutely relative to the nearest positioned parent */
  top: 10px; /* 10 pixels from the top */
  right: 10px; /* 10 pixels from the right */
  z-index: 100; /* Ensure it stays on top of other content */
}

.socialmedia__icon {
  width: 35px; /* Adjust size as needed */
  height: 35px; /* Maintain aspect ratio */
  cursor: pointer; /* Change cursor to pointer for better user experience */
}
