// colors
$primary-color: #f11203;
$secondary-color: #fff;
$background-color: #000;
$highlight-color: #afd059;
$border-color: #555;

// fonts
$font-main: "edo_szregular", sans-serif;
$font-secondary: "Federo", sans-serif;
$font-fallback: Arial, Helvetica, sans-serif;

// font sizes
$font-size-large: 50px;
$font-size-medium: 30px;
$font-size-small: 20px;

// spacing
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 50px;

$font-main: "edo_szregular", sans-serif;
$font-secondary: "Federo", sans-serif;
$font-fallback: Arial, Helvetica, sans-serif;
